<html>
  <body>
    <form class="signupForm" method="post">
      <div class="container">
          
        <h1>Sign Up</h1>
        <p>Please fill in this form to gain access to the platform</p>
          
        <hr>
          
        <label for="username"><b>Username</b></label>
        <input class="ip" type="text" placeholder="Enter Username" id="username" name="username" required>
    
        <label for="password"><b>Password</b></label>
        <input class="ip" type="password" placeholder="Enter Password" id="password" name="password" required>
    
        <label for="repeatPassword"><b>Repeat Password</b></label>
        <input class="ip" type="password" placeholder="Enter Your Password Again" id="repeatPassword" name="repeatPassword" required>
    
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
    
        <br>
        <br>
    
        <div class="clearfix">
          <button type="reset" class="cancel">Cancel</button>
          <button type="submit" class="signup" (click)='signup()'>Sign Up</button>
        </div>
  
      </div>
      <script type="text/javascript" src="signup.component.ts"></script>
    </form>
  </body>
</html>