<html>
    <body>
        <div class="container">
          <div class="navbar">
     
            <li class="header">Dashboard</li>
            <li><a class="mainAnchor">Courses</a>
              <ul>
                <li><a routerLink="/allCourses">View and Enroll</a></li>
              </ul>
            </li>
      
            <li><a class="mainAnchor">People</a>
              <ul>
                <li><a routerLink="/landing">Teachers</a></li>
                <li><a routerLink="/allStudents">Classmates</a></li>
              </ul>
            </li>
          </div>
      
          <div class="image">
            <img src="https://help.showpad.com/hc/article_attachments/360019437933/you_re_up_to_date_see_what_changed.png">
          </div>
        </div>
    </body>      
</html>