<html>
    <body>
        <form class="signinForm"  method="post">
            <div class="container">
                
                <h1>Welcome Back!</h1>
                <hr>
                <br>
                
                <label for="username"><b>Username</b></label>
                <input class="ip" type="text" placeholder="Enter Username" id="usernamein" name="username" required>
          
                <label for="password"><b>Password</b></label>
                <input class="ip" type="password" placeholder="Enter Password" id="passwordin" name="password" required>
          
                <label>
                  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>
          
                <br>
                <br>
          
                <div class="clearfix">
                  <button type="reset" class="cancel">Cancel</button>
                  <button type="submit" class="signin" (click)='signin()'>Sign In</button>
                </div>
            </div>
            <script type="text/javascript" src="signin.component.ts"></script>   
        </form>    
    </body>
</html>