<html>
  <body>
      <div class="split">

        <div class="top">
          <br>
          <h1>Nice to meet you!</h1>
          <img src="https://www.hotelkeyapp.com/images/Products/self-kiosk/large-industrial-display.svg">
        </div>
        
        <div class="bottom">
          <a routerLink="/signup" routerLinkActive="active"><button class="frontPageSignUp">Sign Up</button></a>
          <a routerLink="/signin" routerLinkActive="active"><button class="frontPageSignIn">Sign In</button></a>
        </div>

      </div>
  </body>
</html>
<router-outlet></router-outlet>